@import '~antd/dist/antd.css';

.h100 {
  height: calc(100vh - 64px);
}

.error {
  color: red;
}

.username {
  color: white;
  padding-right: 15px;
}

.contact-item {
  width: 60vw;
}

.form {
  width: 370px;
  flex-direction: column;
  margin-right: 20px;
}

.contacts {
  width: 80vw;
  padding-top: 50px;
  height: auto;
  flex-grow: 1;
  height: 83.5vh;
}

.list-contacts {
  width: 80vw;
}

.btn-contact {
  margin-left: 20px;
  font-size: 14px;
}

.ant-cart {
  height: 100px;
}




